<footer class="footer">
  <div class="footer__content">
    <address class="footer__column">
      <ul class="footer__contactList">
        <li class="footer__contactInfo icon">
          <a href="//carlosazaustre.es/twitter">@CarlosAzaustre</a>
        </li>
        <li class="footer__contactInfo icon">
          <a href="//carlosazaustre.es/facebook">/carlosazaustre.web</a>
        </li>
        <li class="footer__contactInfo icon">
          <a href="//carlosazaustre.es/github">/carlosazaustre</a>
        </li>
        <li class="footer__contactInfo icon">
          <a href="//carlosazaustre.es/linkedin">/carlosazaustre</a>
        </li>
        <li class="footer__contactInfo icon">
          <a href="//carlosazaustre.es/youtube">YouTube</a>
        </li>
      </ul>

      <nav class="footer__navigation">
        <ul>
          <li><a href="//carlosazaustre.es/hola">Sobre mi</a></li>
          <li><a href="//carlosazaustre.es/blog">Blog</a></li>
          <li><a href="//carlosazaustre.es/curriculum">Currículum</a></li>
          <li><a href="mailto:carlosazaustre@gmail.com">Contacto</a></li>
          <li><a href="//carlosazaustre.es/blog/politica-de-cookies">Política de Cookies</a></li>
          <li><a href="//carlosazaustre.es/blog/legal">Aviso Legal</a></li>
        </ul>
      </nav>
    </address>

    <aside class="footer__column">
      <p>
        El contenido de esta web está publicado con
        <a href="https://creativecommons.org/licenses/by-sa/4.0/https://creativecommons.org/licenses/by-sa/4.0/">
        licencia de <strong>Creative Commons Reconocimiento-Compartir Igual 4.0
        Internacional</strong></a>
      </p>
      <p>
        Alojado en <a href="https://www.digitalocean.com/?refcode=f716de9860aa">
        <img src="http://carlosazaustre.es/blog/assets/digitalocean.png?v=58efb60f5b" width="200" alt="Digital Ocean" />
        </a>
      </p>
    </aside>
  </div>
</footer>
