<header class="header">
  <div class="header__content">
    <figure class="header__figure">
      <img class="header__figure--front" src="http://carlosazaustre.es/blog/content/images/2015/02/azaustre_med.jpg" alt="Carlos Azaustre" />
      <img class="header__figure--back" src="https://camo.githubusercontent.com/eb464a60a4a47f8b600aa71bfbc6aff3fe5c5392/68747470733a2f2f7261772e6769746875622e636f6d2f766f6f646f6f74696b69676f642f6c6f676f2e6a732f6d61737465722f6a732e706e67" alt="JavaScript" />
    </figure>
    <h1>Carlos Azaustre</h1>
    <h2>Web Developer</h2>
  </div>
</header>
