<nav class="navbar">

  <div class="navbar__logo">
    <img src="http://carlosazaustre.es/blog/content/images/2015/02/azaustre_med.jpg" alt="Author image" class="img--bordered img--circle color--orange" />
    <a href="/">Carlos Azaustre &nbsp; <span class="text--uppercase text--orange">Web Developer</span></a>
  </div>

  <ul class="navbar__list">
    <li class="navbar__list__link"><a href="hola">Hola</a></li>
    <li class="navbar__list__link"><a href="cv">Currículum</a></li>
    <li class="navbar__list__link"><a href="libros">Libros</a></li>
    <li class="navbar__list__link"><a href="camisetas">Camisetas Geeks</a></li>
  </ul>

</nav>
