<nav class="navbar">
  <div class="navbar__content">
    <div class="navbar__logo">
      <img src="http://carlosazaustre.es/blog/content/images/2015/02/azaustre_med.jpg" alt="Author image" class="img--bordered img--circle img--small" />
      <a href="/">Carlos Azaustre &nbsp; <span class="text--uppercase text--orange">Web Developer</span></a>
    </div>
    <label class="navbar__mobileMenu icon-menu"></label>
    <ul class="navbar__list">
      <li class="navbar__list__item"><a href="hola">Sobre Mi</a></li>
      <li class="navbar__list__item"><a href="blog">Blog</a></li>
      <li class="navbar__list__item"><a href="libros">Libros</a></li>
      <li class="navbar__list__item"><a href="camisetas">Camisetas Geeks</a></li>
    </ul>
  </div>
</nav>
