<nav class="navbar">
  <div class="navbar-content">
    <div class="blog-info">

      <div class="author title">
        <img src="/blog/content/images/2015/02/azaustre_med.jpg" alt="Author image" class="border circle inline" />
        <a class="text bold" href="http://carlosazaustre.es/blog">Carlos Azaustre &nbsp; <span class="text-orange">Web Developer</span></a>
      </div>

      <ul>
        <li><a href="hola">Hola</a></li>
        <li><a href="cv">Currículum</a></li>
        <li><a href="libros">Libros</a></li>
        <li><a href="camisetas">Camisetas Geeks</a></li>
      </ul>

    </div>
  </div>
</nav>
