<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Carlos Azaustre | Web Developer - AngularJS, NodeJS, JavaScript, MongoDB, HTML5 y CSS3</title>
    <meta name="description" content="Blog de Carlos Azaustre. Desarrollador Web Frontend y Backend. Temática relacionada sobre tecnologías web y vida en Internet. Node.js, JavaScript, Frameworks, Angular.js, HTML5, CSS3, Stylus, MongoDB" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="rG1QYW9K5a8qzdXJUimg8uRb1Eqsk0v-u6Hss8vABmk" />
    <link rel="author" href="//plus.google.com/+CarlosAzaustre?rel=author" />
    <link rel="shortcut icon" href="/blog/favicon.ico">
    <link rel="stylesheet" href="/static/css/carlosazaustre.es.css">
    <meta property="og:locale" content="es">
    <meta property="og:site_name" content="Carlos Azaustre | Web Developer - AngularJS, NodeJS, JavaScript, MongoDB, HTML5 y CSS3" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Carlos Azaustre | Web Developer - AngularJS, NodeJS, JavaScript, MongoDB, HTML5 y CSS3" />
    <meta property="og:description" content="Desarrollador web Frontend y Backend, empleando tecnología JavaScript. Node.js, Angular.js, HTML5, CSS3, Stylus, MongoDB,..." />
    <meta property="og:url" content="http://carlosazaustre.es" />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Carlos Azaustre | Web Developer" />
    <meta name="twitter:description" content="Desarrollador Web Frontend y Backend, empleando tecnología JavaScript. Node.js, Angular.js, HTML5, CSS3, Stylus, MongoDB,..." />
    <meta name="twitter:url" content="http://carlosazaustre.es" />
    <meta name="twitter:image:src" content="" />
  </head>
  </head>
  <body>
    {{{ body }}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      (function() {
        var $mobileBtn = $(".navbar__mobileMenu");
        var $mobileMenu = $(".navbar__list");
        var $imgLogoFront = $(".header__figure--front");
        var $imgLogoBack = $(".header__figure--back");

        $mobileMenu.on("click", function(e) {
          $mobileMenu.toggleClass("navbar__list--show");
        });

        $imgLogoFront.on("mouseover", function(e) {
          $imgLogoBack.toggleClass("header__figure--back--show");
        });
        $imgLogoFront.on("mouseout", function(e) {
          $imgLogoBack.toggleClass("header__figure--back--show");
        });

      })();
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-7491075-8', 'carlosazaustre.es');
      ga('send', 'pageview');
    </script>

  </body>
</html>
