// -- Functions ----------------------------------------------------------------

zeroSpace()
  margin 0;
  padding 0;

// -- Reset --------------------------------------------------------------------
a
  text-decoration none

h1,h2,h3,h4,h5,h6,ul,ol,li,p,nav,header,section,article,main,footer,aside,figure
  zeroSpace()

// -- Main Elements ------------------------------------------------------------

body
  zeroSpace()
  font-family 'Lato'
  font-size 16px
