.footer
  font-size .9em
  position absolute
  bottom 0
  left 0
  background-color app_black
  color app_white
  width 100%
  a
    color app_white
    transition color .5s ease-out
    &:hover
      color app_orange
      text-decoration underline
  address
    font-style normal

.footer__content
  margin 0 auto
  padding 1.5em
  width 720px
  display flex
  justify-content center
  align-items flex-start

@media screen and (max-width: 1000px)
  .footer__content
    width auto
    flex-direction column
    align-items center


.footer__column
  flex 1 1 50%

// -- Social and Links ---------------------------------------------------------

.footer__links
  display flex
  justify-content center
  align-items flex-start
  flex-direction row
  li
    padding .2em 0
    a
      margin-left .3em

.footer__contactList
  padding 0 1em
  list-style-type none
  flex 1 1 auto

.footer__navigation
  padding 0 1em
  border-left 1px solid app_white
  flex 1 1 auto
  ul
    list-style-type none

// -- Footer Aside text --------------------------------------------------------

.footer__text
  padding 0 1em
  p
    display block
    margin 1em
  br
    line-height 1em

@media screen and (max-width: 1000px)
  .footer__text
    text-align center
