.header
  background url('/static/img/cover.jpg') no-repeat
  background-size cover
  background-position 0 75%
  min-height 320px

.header__content
  margin 0 auto
  padding 1.5em
  color app_white
  text-align center

  h1, h2
    text-transform uppercase
    text-shadow 1px 1px 3px app_black
  h1
    border 3px solid app_white
    border-bottom 0
    display inline-block
    padding .25em .5em
    margin .5em 0 0 0
  h2
    font-size .8em
    letter-spacing .65em
    position relative
    top -18px
    left 0

    &:after, &:before
      font-size 2em
      content "\2014\2014\2014"
      letter-spacing -5px
    &:before
      position relative
      top 0
      left -11px
    &:after
      position relative
      top 0
      left 6px

@media screen and (max-width: 385px)
  .header__content
    h1
      font-size 1.5em
    h2
      font-size .6em
      top -14px

.header__figure
  img
    width 120px
    border-radius 50%
    border 3px solid app_white
    position relative

.header__figure--front
  z-index 20
  top 0
  left 60px
  transition transform .5s ease-ou
  &:hover
    transform rotate(-14deg)

.header__figure--back
  z-index 15
  top 0
  left -70px
  transition left .5s ease-out
.header__figure--back--show
  left 25px
