app_orange = #ec7539;
app_black = #333;
app_white = #eaeaea;

.text--uppercase
  text-transform uppercase
  font-size .7em

@media screen and (max-width: 350px)
  .text--uppercase
    display none

.text--orange
  color app_orange

.img--circle
  border-radius 50%

.img--bordered
  border 2px solid app_white

.img--small
  width 32px
