.footer
  font-size .85em
  position relative
  margin-top -45px
  bottom 0
  left 0
  background-color app_black
  color app_white
  a
    color app_white
    transition color .5s ease-out
    &:hover
      color app_orange
      text-decoration underline
  address
    font-style normal

@media screen and (min-width: 1024px)
  .footer
    margin-top -110px
    font-size .9em


.footer__content
  margin 0 auto
  padding 1.5em
  display flex
  justify-content center
  align-items center
  flex-direction column

@media screen and (min-width: 1024px)
  .footer__content
    width 720px
    flex-direction row
    align-items flex-start


.footer__column
  flex 1 1 50%

// -- Social and Links ---------------------------------------------------------

.footer__links
  display flex
  justify-content center
  align-items flex-start
  flex-direction row
  li
    padding .2em 0
    a
      margin-left .3em

.footer__contactList
  padding 0 1em
  list-style-type none
  flex 1 1 auto

.footer__navigation
  padding 0 1em
  border-left 1px solid app_white
  flex 1 1 auto
  ul
    list-style-type none

// -- Footer Aside text --------------------------------------------------------

.footer__text
  padding 1em 0
  text-align center
  p
    display block
    margin 1em 0
  br
    line-height 1em

@media screen and (min-width: 1024px)
  .footer__text
    text-align left

@media screen and (max-width: 320px)
  .footer
    font-size .75em
