// -- Functions ----------------------------------------------------------------

zeroSpace()
  margin 0
  padding 0

containerSize()
  margin 0 auto
  width 1024px

// -- Reset --------------------------------------------------------------------
a
  text-decoration none

h1,h2,h3,h4,h5,h6,ul,ol,li,p,nav,header,section,article,main,footer,aside,figure
  zeroSpace()

// -- Main Elements ------------------------------------------------------------

body
  zeroSpace()
  font-family 'Lato'
  font-size 16px

.text-small
  font-size .8em

// -- Sections -----------------------------------------------------------------

.section
  padding 1em

.section--gray
  background app_white - 5

.section__content
  margin 0 auto
  width 1024px

// -- Youtube section video ----------------------------------------------------

.youtube
  position relative
  overflow hidden
  text-align center

.youtube__video
  position relative
  top 0
  left 0
  bottom 0
  right 0
  width 100%

.youtube__curtain
  background linear-gradient(to right,rgba(126, 70, 15, 0.5) 0,rgba(240, 191, 143, 0.5) 100%)
  position absolute
  top 0
  left 0
  right 0
  bottom 0
