{{> navbar }}

{{> header }}

<section class="section">
  <div class="section__content">
    Aqui va el contenido
  </div>
</section>

<section class="section section--gray">
  <div class="section__content">
    Aqui va el contenido
  </div>
</section>

<section class="section">
  <div class="section__content">
    Aqui va el contenido
  </div>
</section>

<section class="youtube">
  <div class="youtube__container">
    <video autoplay muted loop class="youtube__video">
      <source src="/static/videos/video_startupeando.mp4" type="video/mp4">
    </video>
  </div>
  <div class="youtube__curtain"></div>
  <div class="youtube__logo"></div>
  <div class="youtube__content">
    <div class="youtube__content__text">
      <a href="//carlosazaustre.es/youtube">
        <span class="icon-youtube"></span>
        Suscríbete al canal
      </a>
    </div>
  </div>
</section>

{{> footer }}
