{{> navbar }}

{{> header }}

<article class="section">
  <div class="section__content">
    Aqui va el contenido
  </div>
</article>

<article class="section section--gray">
  <div class="section__content">
    Aqui va el contenido
  </div>
</article>

<article class="section">
  <div class="section__content">
    Aqui va el contenido
  </div>
</article>

{{> footer }}
