<header>
  <strong>Carlos Azaustre</strong>
  <small class="color theme">WEB DEVELOPER</small>
  <nav class="float right">
    {{> partial/social}}
  </nav>
</header>

<section class="landing">
  <div class="row" data-flex="vertical center">
      <img class="effect buzz-out" src={{avatar}}>
      <h1>Carlos Azaustre</h1>
      <nav>
        {{> partial/social}}
      </nav>
      <hr class="divider short">
      <p class="align center">
        FullStack Developer. JavaScript Lover<br>
        CoFounder &amp; CTO en <a href="http://beta.chefly.co"><span>Chefly</span></a><br>
        Geekpster
      </p>
      <small class="more align center">Haz <strong>scroll</strong> para saber más</small>
  </div>
</section>

<section class="bck dark posts">
  <div class="container wow fadeIn" data-wow-delay="0.1s">
    <div class="row">
      <h1 class="align center margin bottom"><strong>Últimos artículos en el Blog</strong></h1>
    </div>
    <div class="row align center margin bottom">
      Blog sobre tecnología web, Frontend y Backend, y vida en internet. Node.js, JavaScript, Angular.js, HTML5, MongoDB...
    </div>
    <div class="row">
      {{#posts}}
        {{> partial/post}}
      {{/posts}}
    </div>

    <div class="row">
      <div id="newsletter" class="box margin top" data-column="12">
        <form action="//carlosazaustre.us6.list-manage.com/subscribe/post?u=f03c243e4abc9f550757789bc&amp;id=bde03e7057" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <p>¿Quieres estar al tanto de novedades antes que nadie? Déjanos tu email.</p>
          <br>
          <input type="email" name="EMAIL" class="inline field" id="mce-EMAIL" placeholder="Tu dirección de email..." required>
          <input type="submit" value="Subscribirme" name="subscribe" id="mc-embedded-subscribe" class="primary">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_f03c243e4abc9f550757789bc_bde03e7057" tabindex="-1" value=""></div>
        </form>
      </div>
  </div>
</section>

<section class="bck theme code">
  <div class="container wow fadeIn">
    <div class="row">
      <h1 class="align center margin bottom"><strong>Code</strong></h1>
    </div>
    <div class="row align center margin bottom">
      Actualmente, las tecnologías y lenguajes en las que me encuentro enfocado son NodeJS, HTML5, JavaScript y AngularJS.
    </div>
    <div class="row">
      <div data-column="4">
        <b><h5>Recursos</h5></b>
        <nav>
          <a href="https://github.com/carlosazaustre/node-api-rest-example" target="_blank">
            node-api-rest-example
            <span>NODE</span>
            <small>Ejemplo de uso de Node.js para hacer una API RESTful.</small>
          </a>

          <a href="https://github.com/carlosazaustre/angularapp-gulp-boilerplate" target="_blank">
            angularapp-gulp-boilerplate
            <span>ANGULAR</span>
            <small>Boilerplate para comenzar una aplicación AngularJS webapp usando Gulp para automatear tareas.</small>
          </a>

          <a href="https://github.com/carlosazaustre/passportjs-example" target="_blank">
            passportjs-example
            <span>NODE</span>
            <small>Ejemplo de uso de PassportJS para autenticarse con Twitter y Facebook en Node.js</small>
          </a>

          <a href="https://github.com/carlosazaustre/raspberrypi-api-led" target="_blank">
            raspberry-api-led
            <span>IOT</span>
            <span>RASPBERRYPI</span>
            <span>NODE</span>
            <small>un API REST para controlar los LED GPIO de tu RaspberryPi</small>
          </a>

        </nav>
      </div>

      <div data-column="4">
        <b><h5>Proyectos</h5></b>
        <nav>
          <a href="http://beta.chefly.co" target="_blank">
            Chefly
            <span>P2P MARKETPLACE</span>
            <span>ANGULAR</span>
            <span>NODE</span>
            <small>Encuentra comida casera cerca de ti</small>
          </a>

          <a href="http://pelitweets.com" target="_blank">
            Pelitweets
            <span>FRONTEND</span>
            <span>ANGULAR</span>
            <small>Microcríticas de películas de estreno en 140 caracteres.</small>
          </a>

          <a href="http://pasmangen.github.io/" target="_blank">
            Password Manager Generator
            <span>OPEN SOURCE</span>
            <span>FRONTEND</span>
            <small>La forma más sencilla de controlar tus contraseñas.</small>
          </a>

        </nav>
      </div>

      <div data-column="4">
        <b><h5>eBooks y Screencasts</h5></b>
        <nav>
          <a href="https://sellfy.com/p/VOqw/" target="_blank">
            Desarrollo web ágil con AngularJS
            <span>BOOK</span>
            <span>ANGULAR</span>
            <small>Aprende buenas prácticas en el desarrollo de aplicaciones web con el framework de JavaScript Angular.js
              Automatiza tus tareas cotidianas en el Frontend con el gestor GulpJS</small>
          </a>

          <a href="https://www.packtpub.com/web-development/instant-zurb-foundation-4-instant" target="_blank">
            Instant Zurb Foundation (English)
            <span>BOOK</span>
            <span>CSS</span>
            <span>FRAMEWORKS</span>
            <small>Get up and running in an instant with Zurb Foundation 4 Framework</small>
          </a>

          <a href="https://www.youtube.com/watch?v=SKoK6braZlk&list=PLUdlARNXMVkl9MJl4r90Z1j1nmAfWEPV3" target="_blank">
            Desarrollo de una API REST con Node.js y MongoDB (Spanish)
            <span>YOUTUBE</span>
            <span>SCREENCAST</span>
            <span>BACKEND</span>
            <span>NODE</span>
            <small>Videotutorial que explica cómo programar una API REST desde cero con Node.js en el servidor y MongoDB como sistema de Base de Datos.</small>
          </a>

          <a href="https://www.youtube.com/watch?v=Oy5ds6z4R-c&list=PLUdlARNXMVkl9MJl4r90Z1j1nmAfWEPV3" target="_blank">
            Login Social en Node.js con PassportJS (Spanish)
            <span>YOUTUBE</span>
            <span>SCREENCAST</span>
            <span>BACKEND</span>
            <span>NODE</span>
            <small>Aprende como implementar un sistema de registro y autenticación de usuarios usando Twitter o Facebook en Node.js.</small>
          </a>

        </nav>
      </div>
    </div>
      <h1 class="align center margin top"><a target="_blank" href="https://github.com/carlosazaustre?tab=repositories"><strong>...y mucho, mucho <u class="wow bounceInDown" data-wow-delay="0.5s">más</u>.</strong></a></h1>
  </div>
</section>
<footer class="align center"><small>Made with ♥ by © <strong>Carlos Azaustre</strong> 2015 | Plantilla basada en los sites de <a href="http://kikobeats.com">Kikobeats</a> &amp; <a href="http://soyjavi.com">soyjavi</a>.</small></footer>
