<a class="icon effect grow-rotate twitter" href="https://twitter.com/carlosazaustre"  target="_blank"></a>
<a class="icon effect grow-rotate github" href="https://github.com/carlosazaustre"  target="_blank"></a>
<a class="icon effect grow-rotate dribbble" href="https://dribbble.com/carlosazaustre" target="_blank"></a>
<a class="icon effect grow-rotate linkedin" href="https://www.linkedin.com/in/carlosazaustre" target="_blank"></a>
<a class="icon effect grow-rotate facebook" href="https://facebook.com/carlosazaustre.web"  target="_blank"></a>
<a class="icon effect grow-rotate google" href="https://google.com/+CarlosAzaustre"  target="_blank"></a>
<a class="icon effect grow-rotate blog" href="http://carlosazaustre.es/blog" target="_blank"></a>
<a class="icon effect grow-rotate mail" href="mailto:carlosazaustre@gmail.com" target="_blank"></a>
